.logo{
    padding-top: 15%;
    display: flex;
    justify-content: center;
    width: 100%;
}

#search{
    margin-top: 30px;
    text-align: center;
}

#search-box{
    margin-bottom: 18px;
}

li{
    font-size: small;
    text-decoration-line: none;
    text-decoration-style: solid;
    display: inline;
    float: right;
    padding: 10px;
}



#sign{
    color: white;
    background-color: #4285f4;
    border: 5px solid #4285f4;
    margin-top: -10px;
    border-radius: 4px;
}