.logo{
    padding-top: 15%;
    display: flex;
    justify-content: center;
    width: 100%;
}

#search{
    margin-top: 30px;
    text-align: center;
}

#search-box{
    margin-bottom: 18px;
}

.nav{
    font-size: small;
    text-decoration-line: none;
    text-decoration-style: solid;
    display: inline;
    float: right;
    padding: 10px;
}

a{
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

#sign{
    color: white;
    background-color: #4285f4;
    border: 5px solid #4285f4;
    margin-top: -10px;
    border-radius: 4px;
}

.foota{
    color: rgb(112, 117, 122);
}

.foot{
    
    display: inline;
    float: left;
    text-decoration-line: none;
    text-decoration-style: solid;
    padding-top: 20px;
    padding-right: 20px;
}

#footer{
    background-color: rgba(0, 0, 0, 0.10);
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    width: 100%;
}